html, body {
    background-image:url("https://images.unsplash.com/photo-1445023086979-7244a12345a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #BDBDBD;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
#fundo{
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.5);
}

.card{
    filter: alpha(opacity=50);
    opacity:0.7;
    -moz-opacity:0.7;
    -webkit-opacity:0.7;
}