nav{

    opacity:0.8;
    -moz-opacity:0.8;
    -webkit-opacity:0.8;
   }
   #app{
       width:100vw;
       height:100vh;
      background-color:#E2E0E0;
   }
   
    a {
       color:#BDBDBD;
       font-size: 20px;
   }
   
   .navbar-brand{
       font-size: 40px;
       font-family: 'Satisfy', cursive;
   }
   
    li a:hover, #logo:hover{
       color: #f2f2f2;
   }
   